.auth {
  display: grid;
  place-items: center;
  margin-top: 25rem;
  width: calc(100% - 15rem);
}

.form {
  display: flex;
  flex-direction: column;
  gap: $gapExtraSmall;
  max-width: 30rem;
  width: 100%;
}

.title {
  margin-bottom: $gapMedium;
  font-size: 3.2rem;
  font-weight: map-get($fontWeights, 'medium');
}

.input {
  background-color: #eee;
  padding: $gapExtraSmall $gapMedium;
  font-size: 1.6rem;
  border-radius: $borderRadius;
}

.btn {
  margin-top: $gapMedium;
}

.authLink {
  margin-top: $gapExtraSmall;
  font-size: 1.4rem;
  color: $gray1;

  span {
    color: $primary1;
    cursor: pointer;
  }
}
