.noResults {
  display: flex;
  align-items: center;
  gap: $gapExtraSmall;
  width: min-content;
  padding: 1.25rem 1.6rem;
  font-size: 1.8rem;
  border-radius: $borderRadius;
  border: 0.1rem solid $gray;
  white-space: nowrap;
}

.icon {
  color: $red;
}
