.buttons {
  @extend %headerButtonsWrapper;
}

.search {
  display: flex;
  align-items: center;
  gap: $gapMedium;
  margin-bottom: $gapMedium;

  &Dropdown {
    width: 60rem;
    background: $white;
    z-index: 2;
  }

  .clearBtn {
    background: none;
    translate: -5rem 0;
    rotate: 0;
    transition: translate 0.5s, rotate 0.5s;

    &.active {
      translate: 0 0;
      rotate: 180deg;
    }
  }
}

.text,
.listLength {
  margin-left: auto;
  font-size: 1.8rem;
}
