$primary1: hsl(258, 58%, 50%);
$primary2: hsl(258, 58%, 40%);
$primaryDark: hsl(258, 58%, 25%);
$primaryHover: hsl(258, 58%, 55%);
$primary1_2: rgb(171, 138, 247);

$secondary1: hsl(258, 58%, 95%);
$secondary2: hsl(258, 58%, 90%);
$secondaryDark: hsl(258, 58%, 75%);
$secondaryHover: hsl(258, 58%, 97%);

$gray1: hsl(0, 0%, 50%);
$gray2: hsl(0, 0%, 40%);
$grayDark: hsl(0, 0%, 25%);
$grayHover: hsl(0, 0%, 55%);

$dashboard1: #d5e4fa;
$dashboard1Dark: #204a92;
$dashboard1Dark_2: #6992d3;
$dashboard2: #e5d6fb;
$dashboard2Dark: #512885;
$dashboard2Dark_2: #a486d1;
$dashboard3: #fbd4f5;
$dashboard3Dark: #7b2b7d;
$dashboard4: #fffdc7;
$dashboard4Dark: #7d7039;

$red: #e92236;
$green: #15a515;
$gray: #ccc;
$lightGray: #eee;
$white: #fff;
