.tableContainer {
  margin-right: -4rem;
  padding-right: 2.5rem;
  padding-bottom: 3rem;
  overflow-x: hidden;
  max-height: calc(100vh - 19.1rem);
  height: 100%;
}

.table {
  width: 100%;
  border-collapse: separate;

  thead th {
    position: sticky;
    top: 0;
    color: $primary1;
    border: 0.1rem solid $secondaryDark;
    background: $secondary1;
    z-index: 1;
  }

  tr {
    transition: 0.1s;
    &:nth-child(even) {
      background: #f5f5f5;
    }

    &.selected {
      color: $primary2;
      background: $secondary1;
    }
  }

  th,
  td {
    padding: 1.2rem 1.6rem;
    font-size: 1.8rem;
    white-space: nowrap;
    text-overflow: ellipsis;

    border: 0.1rem solid $gray;
    border-top: none;

    &:not(:last-child) {
      border-right: none;
    }
  }

  td:first-child {
    width: 4.5rem;
    user-select: none;
    cursor: pointer;
  }
}
