.header {
  display: flex;
  align-items: center;
  gap: $gapExtraSmall;
  position: absolute;
  padding-top: 3.75rem;
  padding-right: 4rem;
}

.title {
  padding: $gapExtraSmall $gapMedium;
  color: $white;
  font-size: 3.2rem;
  border: 0.2rem solid $primaryDark;
  border-radius: $borderRadius;
  background: $primary1;
}
