.header {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  padding-block: 3rem 4rem;
  padding-right: 4rem;
  height: 14rem;
  pointer-events: none;
  z-index: 5;
}

.title {
  font-size: 3.2rem;
}

.saveBtn {
  margin-left: auto;
}
