.buttons {
  @extend %headerButtonsWrapper;
}

.search {
  display: flex;
  align-items: center;
  gap: $gapMedium;
  margin-bottom: $gapMedium;

  &Dropdown {
    width: 60rem;
  }
}

.listLength {
  margin-left: auto;
  font-size: 1.6rem;
}
